
img {
  width: 80%;
  display: block;
  margin: 2% 5%;
}
p{
  width: 80%;
  margin: 10px auto;
  text-align: center;
}
a{
  font-size: 1.5em;
}
nav{
  height: 5vh;
}
*{
  border: 2px solid blue;
}
h1, nav, footer{
  text-align: center;
}